
// event_partial
.event_partial_container {
  width:300px;
  height:auto;
  border-radius: 5px;
  webkit-border-radius: 5px;
  moz-border-radius: 5px;
  -moz-box-shadow:    0px 0px 5px #ccc;
  -webkit-box-shadow: 0px 0px 5px #ccc;
  box-shadow:         0px 0px 5px #ccc;
  border:2px solid gray;
}

.event_in_partial {
  border-bottom: 2px dashed rgb(250, 233, 180);
  padding: 5px;

  .event_title {

  }

  .event_body {

  }

}